body{
	padding: 0;
	font-family: 'Almarai', sans-serif !important;
	margin: 0;
	margin-bottom: 0;
	letter-spacing: 1px !important;
	line-height: 50px !important;
}

.title{
	background-color: #652f8f;
	color: #fff;
	padding: 10px 100px;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	font-size: 25px;
}
label{
	float: right;
}
input{
	direction:rtl !important;
}
p,table{
	
	font-size: 20px;
}
p{
	margin:  50px;
}
.close-modal {
	display: none !important;
}
#ex2.modal{
	max-width:1000px !important;
}
.header{
	text-align: center;
	border-bottom: 2px solid #652f8f;
	padding-bottom: 20px;
	margin-bottom: 20px;
	    background: #f7f7f7;
}
.logo{
	max-width: 300px;
	text-align: center;
	margin: 0 auto;
}

.btn-outline-secondary:hover,.btn-check:active+.btn-outline-secondary, .btn-check:checked+.btn-outline-secondary, .btn-outline-secondary.active, .btn-outline-secondary.dropdown-toggle.show, .btn-outline-secondary:active {
    color: #fff !important;
    border-color: #b1daa2 !important;
    background-color: #b1daa2 !important;
    outline: none !important;
}

.submit-button{
	padding: 10px 0;
	text-align: center;
	width: 100%;
}
.submit-button button,.submit-form{
	margin: 0 auto;
	background-color: #652f8f !important;
	color: #fff !important;
	font-size: 25px;
	border: 1px solid #652f8f !important;
	padding: 20px 0;
	width: 60%;
	
}
.submit-button button:hover,.submit-form:hover{
	background-color: #b1daa2 !important;
	border: 1px solid #b1daa2 !important;
	color: #000 !important;	
}
.submit-form{
	width:100% !important;
	margin-top:30px !important;
}
tr.error{
	background-color: #ffe2e2;
}
footer{
	background: #f7f7f7;
	text-align: center;
	font-size:20px;
	border-top: 1px solid #652f8f;
	padding:20px 0;
	margin-top: 30px;

}

